# Data exploration

In [1]:
import pandas as pd 
import sys 
import os 
import json 
from pathlib import Path 
import ujson

In [5]:
fpath =  "../Datasets/coco/annotations/"
#lvis_v1_val.json" #"/home/Datasets/coco/annotations/"

## Validation set

In [6]:
stage = "train"
fname = "lvis_v1_{}.json".format(stage)
#p = Path('/home/Datasets/coco/annotations')
#list(p.iterdir())

In [7]:
file = f = open (fpath + fname, "r")
data = ujson.loads(f.read())

In [8]:
len(data['images'])

100170

In [9]:
type(data['images'][0])#['height']['width']

dict

In [10]:
data['images'][0]

{'flickr_url': 'http://farm9.staticflickr.com/8186/8119368305_4e622c8349_z.jpg',
 'id': 391895,
 'neg_category_ids': [475,
  322,
  1024,
  412,
  256,
  966,
  98,
  131,
  1111,
  992,
  443,
  212,
  16,
  1067],
 'not_exhaustive_category_ids': [],
 'width': 640,
 'license': 3,
 'coco_url': 'http://images.cocodataset.org/train2017/000000391895.jpg',
 'date_captured': '2013-11-14 11:18:45',
 'height': 360}

In [11]:
data['images'][0]['id', 'height', 'width']

KeyError: ('id', 'height', 'width')

In [12]:
img_size_df = pd.DataFrame(columns = ["id" , "height", "width"] )
keys = ['id', 'height', 'width']

for i in range(len(data['images'])):
    img_data = data['images'][i] 
    values = list(map(img_data.get, keys))
    temp = pd.DataFrame({keys[0] : [values[0]],
                         keys[1] : [values[1]],
                         keys[2] : [values[2]]
                        })
    img_size_df = pd.concat([img_size_df, temp], axis = 0) 
    #if i ==2: break                    
    #img, h, w = data
    
temp
img_size_df

KeyboardInterrupt:

In [ ]:
img_size_df['dim'] = img_size_df['height'].astype(str) + 'x' + img_size_df['width'].astype(str)
img_size_df.head()

In [ ]:
#train set  
img_size_df.groupby(['dim']).count().sort_values(by = ['id'], ascending = False)

In [ ]:
#validation_set 
img_size_df.groupby(['dim']).count().sort_values(by = ['id'], ascending = False)

In [15]:
cat_val_df = pd.DataFrame(columns = ["idx", "name", "image_count", "instance_count", "frequency"])

for cat in data['categories']: 
    row = {"idx" : [cat['id']],
        "name": [cat['name']],
        "image_count": [cat['image_count']],
        "instance_count": [cat["instance_count"]],
        "frequency" : [cat["frequency"]]}
    cat_val_df = pd.concat((cat_val_df, pd.DataFrame(row)))
    #break

In [21]:
cat_val_df.sort_values(by=['image_count'], ascending=False)

     idx           name  image_count  instance_count frequency
0   1079  tennis_racket         1977            3035         f
0    951    short_pants         1969            5305         f
0    995     spectacles         1969            3040         f
0    967       ski_pole         1968            8263         f
0    962     skateboard         1967            3597         f
..   ...            ...          ...             ...       ...
0    333        crowbar            1               1         r
0     93          Bible            1               2         r
0   1144        vinegar            1               1         r
0    321       crabmeat            1               5         r
0    123       bolo_tie            1               1         r

[1203 rows x 5 columns]

In [26]:
cat_val_df[(cat_val_df.image_count > 1930) & (cat_val_df.image_count < 2000)]

    idx           name  image_count  instance_count frequency
0    59   baseball_cap         1934            9028         f
0    88           belt         1941            3683         f
0   378            dog         1938            2684         f
0   390         drawer         1942            7927         f
0   544            hat         1932            7213         f
0   595         jersey         1945            8117         f
0   716        necktie         1940            4069         f
0   818          plate         1932            5214         f
0   947          shirt         1942           10177         f
0   951    short_pants         1969            5305         f
0   962     skateboard         1967            3597         f
0   967       ski_pole         1968            8263         f
0   981           sock         1945            6866         f
0   995     spectacles         1969            3040         f
0  1035     sunglasses         1931            5603         f
0  1079  tennis_racket         1977            3035         f

In [22]:
cat_val_df[(cat_val_df.image_count > 200) & (cat_val_df.image_count < 250)]

    idx                         name  image_count  instance_count frequency
0    43                      balloon          210            1556         f
0    86                         bell          231             590         f
0    96                    billboard          247            1025         f
0   104                birthday_cake          244             311         f
0   112                      blender          243             316         f
0   114                      blinker          242            1269         f
0   138                      bow-tie          234             359         f
0   255               Christmas_tree          210             303         f
0   276                      coaster          202             390         f
0   284                 coffee_maker          238             271         f
0   319                   cowboy_hat          216             535         f
0   324                        crate          245            1832         f
0   338                        crumb          249            3021         f
0   342                     cucumber          236            1533         f
0   346                     cupboard          249            1623         f
0   358                   deck_chair          236            1787         f
0   367                 dining_table          227             312         f
0   404                   duffel_bag          247             666         f
0   437                     figurine          202            1056         f
0   510                        grape          233            6377         f
0   528                          ham          214            1765         f
0   633                        latch          221             702         f
0   644                  life_jacket          227             689         f
0   679                     mattress          215             354         f
0   701                motor_scooter          226             720         f
0   751            pan_(for_cooking)          229             643         f
0   771                       pastry          228            4972         f
0   799                       pickle          221             632         f
0   814  pitcher_(vessel_for_liquid)          248             488         f
0   832                   pop_(soda)          218             951         f
0   903                         sail          207             863         f
0   915                       saucer          247             555         f
0   916                      sausage          221            2704         f
0  1020                  brake_light          223            1334         f
0  1095                      toaster          224             240         f

In [28]:
cat_val_df[(cat_val_df.image_count > 70) & (cat_val_df.image_count < 80)]

    idx                    name  image_count  instance_count frequency
0    54                barrette           76             119         c
0   206              cappuccino           72              87         c
0   241        chicken_(animal)           71             417         c
0   335                crucifix           71              99         c
0   455                    flap           77             218         c
0   539            handkerchief           72              86         c
0   552  headstall_(for_horses)           74             133         c
0   584                 igniter           75              77         c
0   636      legging_(clothing)           76             154         c
0   680           measuring_cup           71             139         c
0   699                  monkey           74             166         c
0   723  noseband_(for_animals)           71             120         c
0   725                 notepad           74             187         c
0   740     overalls_(clothing)           73              76         c
0   753                 pancake           72             295         c
0   762       parasail_(sports)           72             385         c
0   773              pea_(food)           76            1869         c
0   774                   peach           71            1041         c
0   794                     pet           79             103         c
0   928               sculpture           76             202         c
0   954                  shovel           74             110         c
0  1180           whipped_cream           77             201         c
0  1195                  wreath           73             119         c

In [29]:
cat_val_df[(cat_val_df.image_count > 8) & (cat_val_df.image_count < 10)]

    idx                  name  image_count  instance_count frequency
0    21                 armor            9              23         r
0   161           horse_buggy            9              19         r
0   172               burrito            9              14         r
0   240            chessboard            9              13         r
0   353                cymbal            9              24         r
0   400             drumstick            9              25         r
0   479                funnel            9               9         r
0   482               garbage            9              18         r
0   488               gasmask            9              12         r
0   538              handcuff            9              10         r
0   599              joystick            9              12         r
0   693            mint_candy            9              27         r
0   730      octopus_(animal)            9              17         r
0   754             pantyhose            9              11         r
0   941                 shawl            9               9         r
0   974              smoothie            9              53         r
0   992  sparkler_(fireworks)            9              12         r
0  1031            sugar_bowl            9              10         r

In [7]:
cat_val_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1203 entries, 0 to 1202
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   idx             1203 non-null   object
 1   name            1203 non-null   object
 2   image_count     1203 non-null   object
 3   instance_count  1203 non-null   object
 4   frequency       1203 non-null   object
dtypes: object(5)
memory usage: 47.1+ KB

In [17]:
cat_val_df['image_count'] = pd.to_numeric(cat_val_df['image_count'] )
cat_val_df['instance_count'] = pd.to_numeric(cat_val_df['instance_count'] )
cat_val_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 0
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   idx             1203 non-null   object
 1   name            1203 non-null   object
 2   image_count     1203 non-null   int64
 3   instance_count  1203 non-null   int64
 4   frequency       1203 non-null   object
dtypes: int64(2), object(3)
memory usage: 56.4+ KB

In [18]:
cat_val_df.groupby('frequency').count()

           idx  name  image_count  instance_count
frequency
c          461   461          461             461
f          405   405          405             405
r          337   337          337             337

In [19]:
cat_val_df.groupby('frequency').describe()

          image_count                                                       \
                count        mean         std    min    25%    50%     75%
frequency
c               461.0   39.041215   23.908622   11.0   18.0   32.0    54.0
f               405.0  843.106173  691.088785  101.0  218.0  588.0  1582.0
r               337.0    4.439169    2.914967    1.0    2.0    4.0     7.0

                  instance_count                                          \
              max          count         mean          std    min    25%
frequency
c           100.0          461.0   140.186551   221.141623   11.0   38.0
f          1977.0          405.0  2963.600000  4193.132864  114.0  574.0
r            10.0          337.0    15.599407    32.542414    1.0    3.0


              50%     75%      max
frequency
c            71.0   140.0   1869.0
f          1595.0  3960.0  50552.0
r             7.0    14.0    333.0

## Training set

In [99]:
stage = "train"
fname = "lvis_v1_{}.json".format(stage)

In [100]:
f = open (fpath + fname, "r")
data = json.loads(f.read())

In [104]:
cat_df = pd.DataFrame(columns = ["idx", "name", "image_count", "instance_count", "frequency"])

for cat in data['categories']: 
    row = {"idx" : cat['id'],
        "name": cat['name'],
        "image_count": cat['image_count'],
        "instance_count": cat["instance_count"],
        "frequency" : cat["frequency"]}
    cat_df = cat_df.append(row, ignore_index = True)
    #break
cat_df['image_count'] = pd.to_numeric(cat_df['image_count'] )
cat_df['instance_count'] = pd.to_numeric(cat_df['instance_count'] )
cat_df.head()

  idx             name  image_count  instance_count frequency
0   1      aerosol_can           64             109         c
1   2  air_conditioner          364            1081         f
2   3         airplane         1911            3720         f
3   4      alarm_clock          149             158         f
4   5          alcohol           29             207         c

In [105]:
cat_df.groupby('frequency').count()

           idx  name  image_count  instance_count
frequency
c          461   461          461             461
f          405   405          405             405
r          337   337          337             337

In [107]:
cat_df.groupby('frequency').sum()

           image_count  instance_count
frequency
c                17998           64626
f               341458         1200258
r                 1496            5257

In [106]:
cat_df.groupby('frequency').describe()

          image_count                                                       \
                count        mean         std    min    25%    50%     75%
frequency
c               461.0   39.041215   23.908622   11.0   18.0   32.0    54.0
f               405.0  843.106173  691.088785  101.0  218.0  588.0  1582.0
r               337.0    4.439169    2.914967    1.0    2.0    4.0     7.0

                  instance_count                                          \
              max          count         mean          std    min    25%
frequency
c           100.0          461.0   140.186551   221.141623   11.0   38.0
f          1977.0          405.0  2963.600000  4193.132864  114.0  574.0
r            10.0          337.0    15.599407    32.542414    1.0    3.0


              50%     75%      max
frequency
c            71.0   140.0   1869.0
f          1595.0  3960.0  50552.0
r             7.0    14.0    333.0

In [109]:
cat_df[cat_df.frequency == "c"]

       idx                     name  image_count  instance_count frequency
0        1              aerosol_can           64             109         c
4        5                  alcohol           29             207         c
5        6                alligator           26              39         c
6        7                   almond           59            1700         c
7        8                ambulance           22              25         c
...    ...                      ...          ...             ...       ...
1195  1196                   wrench           32              80         c
1198  1199                    yacht           12              50         c
1199  1200                   yogurt           52             116         c
1200  1201  yoke_(animal_equipment)           11              20         c
1202  1203                 zucchini           81             798         c

[461 rows x 5 columns]

In [110]:
cat_df[cat_df.frequency == "f"]

       idx                  name  image_count  instance_count frequency
1        2       air_conditioner          364            1081         f
2        3              airplane         1911            3720         f
3        4           alarm_clock          149             158         f
10      11               antenna          505            1018         f
11      12                 apple         1207           17451         f
...    ...                   ...          ...             ...       ...
1189  1190             wineglass          941            4259         f
1190  1191  blinder_(for_horses)          113             271         f
1196  1197             wristband          128             268         f
1197  1198              wristlet          623            1330         f
1201  1202                 zebra         1674            5443         f

[405 rows x 5 columns]

In [117]:
cat_df[cat_df.frequency == "r"].sort_values(by = ["instance_count"], ascending = False)

       idx             name  image_count  instance_count frequency
637    638           legume           10             333         r
786    787          pennant            8             235         r
754    755           papaya           10             206         r
808    809         pinwheel            3             172         r
434    435      fig_(fruit)            4             147         r
...    ...              ...          ...             ...       ...
971    972  sling_(bandage)            1               1         r
209    210      car_battery            1               1         r
1004  1005       stagecoach            1               1         r
1009  1010      steak_knife            1               1         r
579    580         popsicle            1               1         r

[337 rows x 5 columns]

In [130]:
cat_val_df[cat_val_df.name.isin(["zucchini", "papaya", "apple"])]

       idx      name  image_count  instance_count frequency
11      12     apple          210            3116         f
754    755    papaya            7              96         r
1202  1203  zucchini           17             178         c